.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 40px;
  color: rgb(202, 202, 202);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  font-size: 1rem;
  padding: 0 0 0 30px;
}

.navItem {
  font-size: 0.85rem;
}

.linkContainer span {
  height: 24px;
  width: 24px;
}

.linkContainer {
  display: flex;
  gap: 20px;
}

.outletContainer {
  padding-right: 30px;
}

@media (min-width: 1600px) {
  .outletContainer {
    padding-right: 350px;
  }
}

@media (max-width: 1100px) {
  .navItem {
    display: none;
  }

  .nav {
    padding: 0 0 0 15px;
  }

  .outletContainer {
    padding-right: 15px;
  }
}
