.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card {
  background: rgb(20, 20, 20);
  border: 1.5px solid #2b2b2b;
  border-radius: 10px;
  padding: 80px;
}
