.dashboard {
  display: flex;
  flex-direction: column;
  padding-left: 0 30px;
  gap: 20px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: rgb(20, 20, 20);
  border: 1.5px solid #2b2b2b;
  border-radius: 10px;
  padding: 80px;
}

@media (max-width: 920px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }

  .title {
    text-align: center;
    font-size: 1.25rem;
  }

  .card {
    background: rgb(20, 20, 20);
    border: 1.5px solid #2b2b2b;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
  }
  .card h2 {
    font-size: 1rem;
  }
}
